*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 217, 220, 0.628);
}
.card{
    height: 300px;
    min-height: 100px;
    width:250px;
    background-color:rgb(233, 243, 245);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px;
}
.card img{
    height: 80px;
    width: 80px;
    margin-top: 5px;
    border-radius: 50px;
}
.card h3{
  padding-bottom: 5px;
}
.card p{
    padding: 10px;

}
.card button{
    margin: 20px;
    font-size: 20px;
}
.card .role{
    color: chocolate;
}
button:hover{
    cursor: pointer;
    background-color: rgb(243, 221, 183);
   
}
button{
    border-radius: 5px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  
  
    width: 80%;
  }
}

@media (max-width: 240px) {
  .card {
    flex-direction: column;
    align-items: center;
  
  
    width: 70%;
  }
}
